name: Build & Push Erlang/OTP Docker Images

on:
  workflow_dispatch:
  push:
    tags:
      - "*"

env:
  REGISTRY: ghcr.io
  OTP_VERSION: "28.2"
  OPENSSL_VERSION: "3.6.0"

jobs:
  build_push_job:
    strategy:
      matrix:
        platform:
          - runs-on: ubuntu-24.04
            os: ubuntu-24.04
            arch: x86_64
          - runs-on: ubuntu-24.04-arm
            os: ubuntu-24.04
            arch: arm64v8
          - runs-on: ubuntu-22.04
            os: ubuntu-22.04
            arch: x86_64
          - runs-on: ubuntu-22.04-arm
            os: ubuntu-22.04
            arch: arm64v8
          - runs-on: ubuntu-24.04
            os: rhel-10.1
            arch: x86_64
          - runs-on: ubuntu-24.04
            os: rhel-9.7
            arch: x86_64
          - runs-on: ubuntu-24.04
            os: rhel-8.10
            arch: x86_64
    runs-on: ${{ matrix.platform.runs-on }}
    steps:
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3
      - name: Checkout
        uses: actions/checkout@v4
      - name: Erlang/OTP Dockerfile Build ${{ matrix.platform.os }}-${{ matrix.platform.arch }}
        run: make ${{ matrix.platform.os }}-${{ matrix.platform.arch }}
        working-directory: ./erlang/${{ env.OTP_VERSION }}-openssl-${{ env.OPENSSL_VERSION }}
